body {
  font-family: "Trebuchet MS","Helvetica","Arial","Verdana","sans-serif";
  background: #383838;
  font-size: 10px;
}

#appContainer {
  width: 900px;
  height: 90%;
  background: #fefafa;
  margin: 2% auto;
  padding: 15px;
}

#demo-title {
    font-size: 1.5em;
    text-align: center;
}

#title-holder {

}

#waveformHolder {
    display: block;
    margin: 15 auto;
    background: #383838;
    border: 3px solid #EEB420;
}

label {
    font-size: 1em;
}

.controlBlock {
    float: left;
    padding: 10px;
}

.horizontalScrollbarHolder {
  padding: 10px !important;
  margin-left: 28px;
}

.sliderValue {
  border: 0;
  color: #eeb420;
  font-weight: bold;
}
#amplificationAmt {
  width: 22px;
}
#numberOfSamplesShown {
  width: 35px;
}

.buttonHolder {
  width: 20%;
  margin: 15 auto;
}
#redrawButton {
  width: 100%;
}

